{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <label>
          <input type="checkbox">
          <span class="menu"> <span class="hamburger"></span> </span>
          <ul>
            <li> <a href="/">Home</a> </li>
            <li> <a href="/home">Push Data</a> </li>
            <li> <a href="/show">Show Data</a> </li>
          </ul>
        </label>
        <h1>Welcome to Crud operation.....</h1>
      </body>    
</html>